alabaster==0.7.12
anyio==4.10.0
appdirs==1.4.4
argon2-cffi==25.1.0
argon2-cffi-bindings==25.1.0
arrow==1.3.0
asgiref==3.8.1
asttokens==3.0.0
async-lru==2.0.5
attrs==25.3.0
Automat==20.2.0
babel==2.17.0
backcall==0.2.0
bcrypt==3.2.0
beautifulsoup4==4.13.5
beniget==0.4.1
bleach==6.2.0
blinker==1.9.0
brial==1.0.2
Brotli==1.0.9
certifi==2020.6.20
cffi==2.0.0
chardet==4.0.0
charset-normalizer==3.4.3
cliapp==1.20180812.1
click==8.2.1
cloud-init==25.2
cmdtest==0.32+git
colorama==0.4.6
comm==0.2.3
command-not-found==0.3
configobj==5.0.6
constantly==15.1.0
crayons==0.4.0
crypto==1.4.1
cryptography==3.4.8
cryptosteganography==0.8.4
cycler==0.11.0
cypari2==2.1.2
Cython==0.29.28
dbus-python==1.2.18
debugpy==1.8.17
decorator==5.2.1
defusedxml==0.7.1
distlib==0.3.4
distro==1.7.0
distro-info==1.1+ubuntu0.2
dj-rest-auth==3.0.0
Django==4.2
django-cors-headers==4.6.0
djangorestframework==3.14.0
djangorestframework-simplejwt==5.3.1
docutils==0.17.1
entrypoints==0.4
exceptiongroup==1.3.0
executing==2.2.1
exitstatus==2.5.0
fastjsonschema==2.21.2
filelock==3.6.0
Flask==3.1.1
fonttools==4.29.1
fpylll==0.5.2.dev0
fqdn==1.5.1
fs==2.4.12
gast==0.5.2
gmpy2==2.1.2
gyp==0.1
h11==0.16.0
html5lib==1.1
httpcore==1.0.9
httplib2==0.20.2
httpx==0.28.1
hyperlink==21.0.0
idna==3.3
imagesize==1.3.0
importlib-metadata==4.6.4
incremental==21.3.0
ipykernel==6.30.1
ipython==8.37.0
ipython_genutils==0.2.0
ipywidgets==6.0.0
isoduration==20.11.0
itsdangerous==2.2.0
jedi==0.19.2
jeepney==0.7.1
Jinja2==3.1.6
json5==0.12.1
jsonpatch==1.32
jsonpointer==2.0
jsonschema==4.25.1
jsonschema-specifications==2025.9.1
jupyter-events==0.12.0
jupyter-lsp==2.3.0
jupyter_client==8.6.3
jupyter_core==5.8.1
jupyter_server==2.17.0
jupyter_server_terminals==0.5.3
jupyterlab==4.4.7
jupyterlab_pygments==0.3.0
jupyterlab_server==2.27.3
keyring==23.5.0
kiwisolver==1.3.2
lark==1.3.0
launchpadlib==1.10.16
lazr.restfulclient==0.14.4
lazr.uri==1.0.6
lxml==4.8.0
lz4==3.1.3+dfsg
Markdown==3.3.6
MarkupSafe==3.0.2
matplotlib==3.5.1
matplotlib-inline==0.1.7
memory-allocator==0.1.2
mistune==3.1.4
more-itertools==8.10.0
mpmath==0.0.0
mysqlclient==2.2.6
Naked==0.1.32
nbclient==0.10.2
nbconvert==7.16.6
nbformat==5.10.4
nest-asyncio==1.6.0
netifaces==0.11.0
networkx==2.4
notebook==6.4.8
notebook_shim==0.2.4
numpy==2.0.0
oauthlib==3.2.0
olefile==0.46
opencv-python==4.10.0.84
overrides==7.7.0
packaging==25.0
pandocfilters==1.5.1
parso==0.8.5
pexpect==4.9.0
pickleshare==0.7.5
piexif==1.1.3
pillow==10.3.0
pkgconfig==1.5.5
platformdirs==4.4.0
pluggy==0.13.0
ply==3.11
pplpy==0.8.7
primecountpy==0.1.0
prometheus_client==0.23.1
prompt_toolkit==3.0.52
psutil==7.1.0
ptyprocess==0.7.0
pure_eval==0.2.3
py==1.10.0
pyasn1==0.4.8
pyasn1-modules==0.2.1
pycipher==0.5.2
pycparser==2.23
pycryptodome==3.23.0
pycryptodomex==3.20.0
pycurl==7.44.1
Pygments==2.11.2
PyGObject==3.42.1
PyHamcrest==2.0.2
PyJWT==2.3.0
pyOpenSSL==21.0.0
pyparsing==2.4.7
pyrsistent==0.18.1
pyserial==3.5
python-apt==2.4.0+ubuntu4
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
python-json-logger==3.3.0
pythran==0.10.0
pytz==2022.1
PyYAML==5.4.1
pyzmq==27.1.0
referencing==0.36.2
requests==2.32.5
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rfc3987-syntax==1.1.0
roman==3.3
rpds-py==0.27.1
rpy2==3.4.5
sagemath-standard==9.5
sagenb-export==3.2
scipy==1.8.0
SecretStorage==3.3.1
Send2Trash==1.8.3
service-identity==18.1.0
shellescape==3.8.1
six==1.16.0
sniffio==1.3.1
snowballstemmer==2.2.0
soupsieve==2.8
Sphinx==4.3.2
sqlparse==0.5.3
stack-data==0.6.3
stegano==0.11.3
sympy==1.9
systemd-python==234
terminado==0.18.1
testpath==0.5.0
tinycss2==1.4.0
toml==0.10.2
tomli==2.2.1
tornado==6.5.2
tox==3.21.4
traitlets==5.14.3
ttystatus==0.38
Twisted==22.1.0
types-python-dateutil==2.9.0.20250822
typing_extensions==4.12.2
tzlocal==2.1
ubuntu-pro-client==8001
ufoLib2==0.13.1
ufw==0.36.1
unattended-upgrades==0.1
unicodedata2==14.0.0
uri-template==1.3.0
urllib3==1.26.5
virtualenv==20.13.0+ds
wadllib==1.3.6
wcwidth==0.2.14
webcolors==24.11.1
webencodings==0.5.1
websocket-client==1.8.0
Werkzeug==3.1.3
widgetsnbextension==2.0.0
zipp==1.0.0
zope.interface==5.4.0
